body {
    background: #060606;
    text-align: center;
    padding: 64px;
    font-size: 19px;
}

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy:400,700');

#Computer {
    height: 100px;
    width: 100px;
    background-color: blue;
}

#Mitte {
    height: 100px;
    width: 100px;
    background-color:crimson
}


.hidden {

}

.startBtn {

}

.karteStyle {
    cursor: pointer;
    font-size: 48px;

}