/* Background, Content Position and Font Family */
body{
    background-image: url(images/bg.png);
    font-family: sans-serif;
}

nav{

}

.div-nav{

}


main{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p{
    text-align: center;
}

img, video{
    display: block;
    
}