/* Background, Content Position and Font Family */
body{
    background-image: url(images/bg.png);
    font-family: sans-serif;
}

#navbar {
    position: sticky;
    top: 0;
    margin-right: 100px;
    overflow: hidden;
    list-style: none;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    float: right;
}

#navbar a{
    color: ivory;
    font-size: 15px;
    text-decoration: none;
    border-radius: 18px;
    margin: 0 15px;
}

/* Problem */
a:hover {
    color: orange;
}

#title {
    background-color: #b63514;
    width: 800px;
    height: 800px;
    border: 1px #b63514;
    border-radius: 100%;
    margin: -420px 0px 80px;
    margin-right: auto;
    margin-left: auto;

}

#title h1 {
    color:ivory;
    text-align: center;
    font-size: 200px;
    font-weight: 800;
    letter-spacing: -20px;

}

#title h2 {
    color: ivory;
    font-size: 65px;
    font-weight: 800;
    text-align: center;
    margin: -200px 0px 10px 320px;
}

#title p {
    color: ivory;
    font-size: 15px;
    text-align: left;
    margin-right: 120px;
    margin-left: 356px;
}

#title img {
    display: block;
    width: 30px;
    position: absolute;
    margin: 10px 200px 0px 355px;
    color: ivory;
}

#seal img {
    width: 180px;
    position: absolute;
    margin: -300px 200px 0px 385px;
}

.inhalt {
    width: 800px;
    /*position: absolute;*/
    
}

.inhalt h3{
    font-size: 28px;
    color: #b63514;
    font-weight: 600;
}

.inhalt p {
    font-size: 13px;
    color:rgb(182, 182, 182);
}

input[type=text] {
    background-color: lightgray;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 30%;
}

.inhalt textarea {
    background-color: lightgray;
    border: none;
    color: white;
    font-family: sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    width: 50%;
}


.button {
    background-color: lightgray;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
}

#datenschutz {
    color: rgb(182, 182, 182);
}