body {
    background-color: black;
}

.drumPad {
    position: relative;
    margin: auto;
    width: 480px;
    height: 480px;
    top: 50px;
    background-color: black;
}

#button1 {
    position: absolute;
    width: 155px;
    height: 155px;
    border-radius: 10px;
    border: none;
    background-color: rgba(50, 103, 168, 0.75);
    cursor: pointer;
}

#button1:hover {
    background-color: rgba(51, 133, 233, 1.0);
}

#button1:active {
    border: white;
}

