body {
    background-color: black;
}

.drumPad {
    position: relative;
    margin: auto;
    width: 480px;
    height: 480px;
    top: 50px;
    background-color: black;
}

#button1 {
    position: absolute;
    width: 155px;
    height: 155px;
    border-radius: 10px;
    border: none;
    background-color: rgba(50, 103, 168, 0.75);
    cursor: pointer;
}

#button1:hover {
    background-color: rgba(51, 133, 233, 1.0);
}

#button1:active {
    border: white;
}

#button2 {
    position: absolute;
    left: 165px;
    width: 155px;
    height: 155px;
    border-radius: 10px;
    border: none;
    background-color: rgba(50, 103, 168, 0.75);
    cursor: pointer;
}

#button2:hover {
    background-color: rgba(51, 133, 233, 1.0);
}

#button2:active {
    border: white;
}

#button3 {
    position: absolute;
    width: 155px;
    height: 155px;
    left: 330px;
    border-radius: 10px;
    border: none;
    background-color: rgba(50, 103, 168, 0.75);
    cursor: pointer;
}

#button3:hover {
    background-color: rgba(51, 133, 233, 1.0);
}

#button3:active {
    border: white;
}

#button4 {
    position: absolute;
    width: 155px;
    height: 155px;
    top: 165px;
    border-radius: 10px;
    border: none;
    background-color: rgba(245, 36, 144, 0.75);
    cursor: pointer;
}

#button4:hover {
    background-color: rgba(245, 36, 144, 1.0);
}

#button4:active {
    border: white;
}

#button5 {
    position: absolute;
    width: 155px;
    height: 155px;
    top: 165px;
    left: 165px;
    border-radius: 10px;
    border: none;
    background-color: rgba(245, 36, 144, 0.75);
    cursor: pointer;
}

#button5:hover {
    background-color: rgba(245, 36, 144, 1.0);
}

#button5:active {
    border: white;
}

#button6 {
    position: absolute;
    width: 155px;
    height: 155px;
    top: 165px;
    left: 330px;
    border-radius: 10px;
    border: none;
    background-color: rgba(245, 36, 144, 0.75);
    cursor: pointer;
}

#button6:hover {
    background-color: rgba(245, 36, 144, 1.0);
}

#button6:active {
    border: white;
}

#button7 {
    position: absolute;
    width: 155px;
    height: 155px;
    top: 330px;
    border-radius: 10px;
    border: none;
    background-color: rgba(245, 36, 144, 0.75);
    cursor: pointer;
}

#button7:hover {
    background-color: rgba(245, 36, 144, 1.0);
}

#button7:active {
    border: white;
}

#button8 {
    position: absolute;
    width: 155px;
    height: 155px;
    top: 330px;
    left: 165px;
    border-radius: 10px;
    border: none;
    background-color: rgba(249, 135, 6, 0.75);
    cursor: pointer;
}

#button8:hover {
    background-color: rgba(249, 135, 6, 1.0);
}

#button8:active {
    border: white;
}

#button9 {
    position: absolute;
    width: 155px;
    height: 155px;
    top: 330px;
    left: 330px;
    border-radius: 10px;
    border: none;
    background-color: rgba(249, 135, 6, 0.75);
    cursor: pointer;
}

#button9:hover {
    background-color: rgba(249, 135, 6, 1.0);
}

#button9:active {
    border: white;
}