html, body {
    height: 100%;
    width: 100%;
    background-image: url(images/bg.png);
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
}

